repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-toml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit # UV-specific hooks
  rev: 0.9.16
  hooks:
  - id: uv-lock
    name: uv lock
    language: system
    pass_filenames: false
    files: pyproject.toml
    entry: uv lock
